.home-container {
    display: flex;
    width: 100%;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid black;
}

.left-section {
  width: 23%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.left-section::-webkit-scrollbar {
width: 10px;
}

/* Track */
.left-section::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
.left-section::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
.left-section::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.right-section {
    width: 23%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.right-section::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.right-section::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.right-section::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.right-section::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.middle-section {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.middle-section {
    width: 54%;
    
    /* Light gray */
}
