.parents-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    min-height: 450px;
}

.parents-content {
    flex: 3;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
}

.parents-sidebar {
    flex: 1;
    background-color: #144734; /* Dark green color */
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.parents-sidebar h2 {
    margin-bottom: 20px;
}

.parents-sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    padding-left: 10px;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: color 0.3s;
}

.sidebar-link:hover {
    color: goldenrod;
}

.sidebar-link.active {
    color: goldenrod; /* Highlight the active tab */
    background-color: rgba(255, 255, 255, 0.2); /* Optional: Slight background for active tab */
    border-left: 3px solid goldenrod; /* Left border for active tab */
}

.parents-overview h1 {
    color: #004225;
    font-size: 24px;
    margin-bottom: 10px;
}

.parents-overview p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}
@media (max-width:768px){
    .parents-container {
        padding: 10px;
        gap: 10px;
        min-height: 425px;
    }
    
    .parents-content {
        padding: 10px;
    }
    
    .parents-sidebar h2 {
        margin-bottom: 20px;
    }
    
    .parents-sidebar ul {
        list-style: none;
        padding: 0;
    }
    
    .parents-overview h1 {
        font-size: 18px;

    }
    
    .parents-overview p {
        font-size: 0.8rem;
    }
    .parents-sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        transform: translateX(100%); /* Start fully off-screen */
        transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }
    
    .parents-sidebar.sidebar-open {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    
    .parents-sidebar.sidebar-closing {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
    
      .parents-sidebar.sidebar-open h2 {
        text-align: left;
        font-size: 22px;
      }
      .parents-sidebar.sidebar-open ul>li {
        font-size: 0.8rem;
      }
}