img {
  aspect-ratio: 16 / 9;
}

.blog-details-container {
  margin-top: 10px;
  margin-left: -7px;
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog-details-container h1 {
  font-size: 34px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.blog-image-base {
  width: 75%;
  height: 500px;
  margin-bottom: 20px;
}
.image-placeholder {
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  animation: shimmer 1.5s infinite linear;
}


.blog-details-contentbox-main {
  display: flex;
  width: 90%;
  height: 500px;
}

.blog-details-blog-section {
  width: 25%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  margin-top: 0px;
  border-left: 1px solid #ccc;
  /* Internet Explorer 10+ */
}

.blog-details-blog-section::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.blog-details-blog-section::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.blog-details-blog-section::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.blog-details-blog-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blog-details-content {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.blog-details-content p {
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 15px;
}
.blog-details-blog-section-mobile{
  display: none;
}
@media (max-width:768px) {

  .blog-details-container h1 {
    font-size: 16px;
  }
  .blog-details-blog-section{
    display: none;
  }
  .blog-details-contentbox-main{
    width: 100%;
    height: auto;
  }
  .blog-image-base{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .blog-details-contentbox {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    box-sizing: border-box;
    color:var(--text-color4);
    font-weight: 500;
    /* Ensures padding doesn’t overflow */
  }


  .blog-details-container {
    
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 10px;
    box-sizing: border-box;
    /* Prevents padding from pushing content out */
  }

  .blog-details-blog-section-mobile {
    width: 100%;
    margin-top: 15px;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: rgb(37, 120, 215);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;

  }


  .blog-details-content {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* Ensures padding doesn't make the section overflow */
  }
  .blog-details-content h3{
    font-size: 1rem;
  }
  .blog-details-content h2{
    font-size: 0.9rem;
  }
  .blog-details-content p{
    font-size: 0.8rem;
  }
}