.documents-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.documents-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.documents-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
}

.documents-sections {
    margin-top: 20px;
}

.document-category {
    margin-bottom: 15px;
}

.category-button {
    width: 100%;
    text-align: left;
    padding: 20px;
    background-color: white;
    color: #333;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: goldenrod;
    color: #fff;
    transition: background-color 0.4s ease;
}

.category-button.active {
    background-color: #1d5f2c;
    color: #fff;
}

.category-content {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.category-content ul {
    list-style: none;
    padding: 0;
}

.category-content li {
    margin-bottom: 10px;
}

.category-content a {
    color: #1d5f2c;
    text-decoration: none;
}

.category-content a:hover {
    text-decoration: underline;
}
.query-icon-greater-than {
    margin-right: 10px;
}
@media (max-width: 768px) {
    .documents-container {
        padding: 10px;
        font-family: Arial, sans-serif;
        align-items: center;
    }

    .documents-title {
        font-size: 22px;
        margin-bottom: 30px;
        margin-top: -10px;
    }

    .documents-image {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .documents-sections {
        margin-top: 20px;
    }

    .document-category {
        margin-bottom: 15px;
    }

    .category-button {
        padding: 10px;
        font-size: 0.8rem;
    }

    .category-content {
        padding: 5px;
    }

    .category-content ul {
        list-style: none;
        padding: 0;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 0.79rem;
    }

    .category-content li {
        margin-bottom: 5px;
    }

}